<%- include ('include/header') %>
<!--
 
<a href="/register" class="btn btn-lg btn-primary">Register</a>
<a href="/login" class="btn btn-lg btn-secondary">Log In</a>
-->

<link rel="stylesheet" href="/css/style1.css">
<section id="title" class="title">
    <div class="container-fluid">
   <nav class="navbar navbar-expand-lg ">
<a class="navbar-brand" href="/index"> PapayForCar</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">men</span>
  </button>
       <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
       <ul class=" navbar-nav ml-auto">
           <li class="nav-item">
           <a class="nav-link" href="/index">Home</a>
           </li>
           <li class="nav-item">
           <a class="nav-link" href="/services">Services</a>
           </li>
           <li class="nav-item">
           <a class="nav-link" href="">Feedback</a>
           </li>
           <li class="nav-item">
           <a class="nav-link" href="/contact">Contact</a>
           </li>
       </ul>
       </div>
      </nav>
        
       <div class="row">
           <div class="col-lg-6 col-md-6  animate__animated animate__bounceInLeft">
       <h1> We  believe good services<br>offer great<span id="span"> smile</span> </h1>
           <button type="button" class="btn btn-dark"> <a href="/login">Custemer </a></button>
               <button type="button" class="btn btn-outline-light"> <a href="/Station">Station </a></button>
      </div>
      <div class="col-lg-6 col-md-6 animate__animated animate__backInRight">
      <img class="image-title"  src="../Ass/img/Light%20Blue%20Cute%20Car%20Cartoon%20Car%20Wash%20Poster_opt.png">
           </div>
      </div>
    </div>
</section>
      
      
      <section id="content">
          <div class="container">
          <div class="row">
              <div class="col-lg-6 col-md-6 animate__animated animate__flipInX">
              <img  class="image-content" src="../Ass/img/1.jpg">
              </div>
              <div  class="col-lg-6 col-md-6 animate__animated animate__slideInRight">
                  <h1> Welcome to our new and improved  car  service</h1>
                  <h5>About Our Car Services</h5>
                  <p> Welcome to our new improve car for a wonderful service. we use normal wash and ceramic wash(foam) and DrayClean.Enjoy!  
                  </p>
              </div>
             </div>
          </div>
          <div class="row">
              <div class="col-lg-6 col-md-6 ">
              <img  class="image-content" src="../Ass/img/car_oil_change_opt.png">
              </div>
              <div  class="col-lg-6 col-md-6 ">
                  <h1> Welcome to our new  car  service</h1>
                  <h5>About Our Car Services</h5>
                  <p> Welcome to our new improve car for a wonderful service. we use Change The oil services based on the station services.Enjoy!  
                  </p>
              </div>
             </div>
      </section>


           <section id="carousel">
	<div class="container">
	<div id="carousel-slide"class="carousel slide" data-ride="carousel" data-interval="2000" data-pause="hover">
  <div class="carousel-inner">

               
               <div class="carousel-item active">
                   <h2>Test</h2>
    	<h4>From these rapid developments, serving people became easy and fast<br> This service saved me time, <br> so I can request a car service any time I need. </h4>
        <img src="imeges/car_oil_change.png"  class="car-image" alt="">
                   <h4>Mohammad </h4>
    </div>   
              
    
            <div class="carousel-item">
                <h2>Test</h2>
    	<h4>Creativity is a baker’s greatest asset.<br> Their ability to take basic ingredients and <br>transform them into a truly magical art form</h4>
      <img src="../Ass/img/car_oil_change.png" class="cooking-image" alt="">
                <h4>john </h4>
    </div> 
                  

               <div class="carousel-item">
    	<h4>Food decoration isn’t the only form of art<br> when it comes to cooking. The whole culinary<br> industry can be an art form.</h4>
      <img src="../Ass/img/car_oil_change.png" class="cook-image" alt="">
                   <h4>mohammed</h4>
      </div> 
           
   <a class="carousel-control-prev" href="#carousel-slide" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
   </a>
 
  <a class="carousel-control-next" href="#carousel-slide" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
      
              </div>
          </div>
    </div>
      </section>
    
      <section id="features">
          <div class="container">
          <div class="row">
              
              
        <div class="feature-box col-lg-4 animate__animated animate__flipInX animate__delay-0s">
                  <img class="image" src="../Ass/img/a1.jpg">
                  <h3>Best Service</h3>
              </div>
              
         <div class="feature-box col-lg-4 animate__animated animate__flipInX animate__delay-1s">
                  <img class="image" src="../Ass/img/a2.jpg">
                  <h3>Quality Service</h3>
              </div>
         <div class="feature-box col-lg-4 animate__animated animate__flipInX animate__delay-2s">
              <img class="image" src="../Ass/img/a3.jpg">
                  <h3>Perfect Service</h3>
              </div>
          </div>
       </div>
      </section>



     
<%- include ('include/footer') %>